*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#canvas{
   border:2px solid black;
}
.lightBorder {
    border: 2px solid rgb(133, 58, 58);
    margin-top: 20px;
    margin-bottom: 20px;
}